--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
numpy==2.3.5
insightface
transformers
fastapi
pydantic
openvino
nncf
rapidocr==3.6.0
onnxruntime-openvino
uvicorn
python-multipart
pyyaml
pillow
opencv-python
